<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

img.sort{
	width:20px;
	cursor: pointer;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="personCtrl">
<h2>uppercase | lowercase</h2>
<p>The name is {{ firstName | uppercase }}</p>
<p>The name is {{ lastName | lowercase }}</p>

<h2>orderBy</h2>
<ul>
	<li ng-repeat="x in names | orderBy:'country'">{{x.name +' - '+x.country}}</li>
</ul>

<h2>currency</h2>
<p>Price = {{ price | currency : "NOK " : 3 }}</p>

<h2>filter</h2>
<ul>
	<li ng-repeat="x in names | filter:'Mar'">{{x.name +' - '+x.country}}</li>
</ul>
<p>Filter: <input type="text" ng-model="test" placeholder="text to filter"></p>
<ul>
	<li ng-repeat="x in names | filter:test">{{x.name}}</li>
</ul>

<h2>Filter table</h2>

<table>
  <tr>
    <th>name <input type="text" placeholder="text to filter"ng-model="txt_filter_name"></th>
    <th>country <input type="text" placeholder="text to filter" ng-model="txt_filter_country"></th>
  </tr>
  <tr ng-repeat="x in names | filter:txt_filter_name | filter:txt_filter_country">
    <td>{{x.name}}</td>
    <td>{{x.country}}</td>
  </tr>
</table>

<h2>Sort table</h2>

<table>
  <tr>
    <th>
		name
		<img src="up.png" class="sort" ng-click="short_asc('name')">
		<img src="down.png" class="sort" ng-click="short_desc('name')">
	</th>
    <th>
		country
		<img src="up.png" class="sort" ng-click="short_asc('country')">
		<img src="down.png" class="sort" ng-click="short_desc('country')">
	</th>
  </tr>
  <tr ng-repeat="x in names | orderBy:order_item">
    <td>{{x.name}}</td>
    <td>{{x.country}}</td>
  </tr>
</table>


</div>

<script>

var app=angular.module('myApp', []);

app.controller('personCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
	$scope.names = [
		{name:'Jani',country:'Norway'},
		{name:'Carl',country:'Sweden'},
		{name:'Margareth',country:'England'},
		{name:'Hege',country:'Norway'},
		{name:'Joe',country:'Denmark'},
		{name:'Gustav',country:'Sweden'},
		{name:'Birgit',country:'Denmark'},
		{name:'Mary',country:'England'},
		{name:'Kai',country:'Norway'}
	];
	$scope.price=250;
	$scope.short_asc=function(x){
		$scope.order_item=x;
	}
	$scope.short_desc=function(x){
		$scope.order_item='-'+x;
	}
});
</script>

</body>
</html>
