<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" >
<div ng-controller="personCtrl">
	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br>
	Full Name: {{fullName()}}
</div>

<div ng-controller="namesCtrl">
	<ul>
	  <li ng-repeat="x in names">
		{{ x.name + ', ' + x.country }}
	  </li>
	</ul>
	<hr>
	<select ng-change="change_select(selected)" ng-model="selected">
		<option ng-repeat="x in names" value="{{x.country}}">{{x.name}}</option>
	</select>
	Your choice: {{fullinfo}}
	
	<hr>
	<input type="button" value="hahaha" ng-click="clickme()">
</div>
</div>

<script>
var app = angular.module('myApp', []);

app.controller('personCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
    $scope.fullName = function() {
        return $scope.firstName + " " + $scope.lastName;
    };
});


app.controller('namesCtrl', function($scope) {
	$scope.names = [
		{name:'Jani',country:'Norway'},
		{name:'Hege',country:'Sweden'},
		{name:'Kai',country:'Denmark'}
	];
	$scope.fullinfo='hahahah';
	
	
	$scope.change_select=function(selected){
		var select_val=selected;
		var select_val=$.grep($scope.names, function (fruit){
                    return fruit.Id == fruitId;
                })[0].Name;
		$scope.fullinfo='hihihiihi';
	};
	
	$scope.clickme=function(){
		alert('hihihii');
	}
});
</script>

</body>
</html>
